.status-bar {
    background: url("templates/common/cloudhosting/images/progress-bg.png") repeat scroll 0 0 #5A5A5A;
    border-bottom: 1px solid #8F8F8F;
    border-radius: 3px 3px 3px 3px;
    border-top: 1px solid #555555;
    clear: both;
    height: 20px;
    position: relative;
    overflow: hidden;
}
.status-bar p{
    margin:0;
    position: relative;
    z-index: 1;
    color: white;
    padding: 0 5px
}
.status-bar .usage{
    background: url("templates/common/cloudhosting/images/bg_header1.png") repeat scroll 0 -14px #5A5A5A;
    border-bottom: 1px solid #2B5177;
    border-radius: 3px 3px 3px 3px;
    border-top: 1px solid #87BCE4;
    height: 18px;
    left: 1px;
    position: absolute;
    top: 0;
    z-index: 0;
}
.networking{
    background: url("templates/common/cloudhosting/images/icons/network-ethernet.png");
}
#protocol-table thead tr th{
    font-weight: bold;
    color: black;
}
.button-right{
    text-align: right;
}