<div class="header-bar">
    <h3 class="vmdetails hasicon">{$lang.servdetails}</h3>
</div>
<div class="content-bar"  id="lockable-vm-menu">

    {include file="`$onappdir`ajax.vmactions.tpl"}


</div>

